<hr class="bottombar">
<div id="footer" class="wrap">
	<div class="title">
		{{ site.name }}
	</div>
	<div id="footer1">
		<div class="description">
			{{ site.description }}
		</div>
		<a href="mailto:{{ site.email }}">{{ site.email }}</a>
	</div>
	<div id="footer2">
		Media<br>
		<a href="https://twitter.com/{{ site.twitter }}">@{{ site.twitter }}</a><br>
		<a href="https://github.com/{{ site.github }}">{{ site.github }}</a><br>
	</div>
	<div id="footer3">
		Powered by Github Pages. <br>
		This theme is <em>Notes Base</em> by <a href="github.com/porglezomp">porglezomp</a>. <br>
		Source for this page can be found at <a href="http://{{ site.source }}">{{ site.source }}</a>.
	</div>
</div>